<html layout:decorate="~{/layouts/managerLayout}" xmlns:layout="http://www.w3.org/1999/xhtml"
>
<div layout:fragment="content">
    <div class="flex flex-col w-full border-opacity-50">
        <div class="grid card bg-base-300 rounded-box place-items-center">
            <label th:text="${'카테고리 개수 : '+#lists.size(categories)}"/>
            <label th:text="${'유저수 : '+#lists.size(users)}"/>
            <label th:text="${'도구 개수 : '+#lists.size(tools)}"/>
            <label th:text="${'단위 개수 : '+#lists.size(units)}"/>
            <label th:text="${'영양분 개수 : '+#lists.size(nutrients)}"/>
            <label th:text="${'태그 수 : '+#lists.size(tags)}"/>
            <label th:text="${'재료 수 : '+#lists.size(ingredients)}"/>
            <label th:text="${'레시피 수 : '+#lists.size(recipes)}"/>
        </div>
<!--        <div class="divider">OR</div>-->
<!--        <div class="grid h-20 card bg-base-300 rounded-box place-items-center">content</div>-->
    </div>
</div>
</html>