<html layout:decorate="~{./layouts/managerLayout}" xmlns:layout="http://www.w3.org/1999/xhtml"
>
<div layout:fragment="content">
    <div class="flex flex-col w-full border-opacity-50">
        <div class="grid card bg-base-300 rounded-box place-items-center">
            <label th:text="${'카테고리 개수 : '+categories}"/>
            <label th:text="${'유저수 : '+users}"/>
            <label th:text="${'도구 개수 : '+tools}"/>
            <label th:text="${'단위 개수 : '+units}"/>
            <label th:text="${'영양분 개수 : '+nutrients}"/>
            <label th:text="${'태그 수 : '+tags}"/>
            <label th:text="${'재료 수 : '+ingredients}"/>
            <label th:text="${'레시피 수 : '+recipes}"/>
            <label th:text="${'평가수 수 : '+evals}"/>
            <label th:text="${'학습 수 : '+pds}"/>
        </div>
<!--        <div class="divider">OR</div>-->
<!--        <div class="grid h-20 card bg-base-300 rounded-box place-items-center">content</div>-->
    </div>
</div>
</html>