<html layout:decorate="~{/layouts/managerLayout}" xmlns:layout="http://www.w3.org/1999/xhtml"
>
<div layout:fragment="content">
    <div class="flex flex-col w-full border-opacity-50">
        <div class="grid h-20 card bg-base-300 rounded-box place-items-center">
            카테고리 총양 :
            태그 수:
            등등 통계 목록.
        </div>
<!--        <div class="divider">OR</div>-->
<!--        <div class="grid h-20 card bg-base-300 rounded-box place-items-center">content</div>-->
    </div>
</div>
</html>