<header th:fragment="headerFragment" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="">
    <div class="flex justify-end">
        <div>
            <div sec:authorize="isAuthenticated()" property="principal" var="principal" class="dropdown dropdown-hover">
                <div tabindex="0" role="button" th:text="${user.nickname+'▼'}" class="btn m-1"/>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a sec:authorize="hasAnyRole('ADMIN','MANAGER')" th:href="@{|/manager|}">관리 페이지</a></li>
                    <li><a th:href="@{|/user/profile|}">프로필</a></li>
                </ul>
            </div>
            <button sec:authorize="isAnonymous()" type="button" onclick="location.href='/user/login'"
                    class="mt-2 mr-3 btn m-1">로그인
            </button>
            <button sec:authorize="isAuthenticated()" type="button" onclick="location.href='/user/logout'"
                    class="mt-2 mr-3 btn m-1">로그아웃
            </button>
        </div>
    </div>
    <div class="flex justify-center">
        <a th:href="@{/}"><img src="/common/icon.png" class="w-[75px]"></a>
        <input type="text" placeholder="검색어" class="input input-bordered input-info w-full max-w-xs"/>
        <button class="btn btn-info text-[20px]">🔍</button>
    </div>
</header>