<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 기본 CSS -->
<!--    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css" rel="stylesheet" type="text/css"/>-->
<!--    &lt;!&ndash; 테일윈드 &ndash;&gt;-->
    <link href="/output.css" rel="stylesheet">
    <title>음식 레시피</title>
</head>
<body th:block layout:fragment="body"></body>
<!--테일윈드 개발용-->
<!--<script src="https://cdn.tailwindcss.com"></script>-->
</html>