<html layout:decorate="~{./layouts/layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body layout:fragment="body">
<!-- Header 내용 -->
<header th:replace="~{./layouts/header :: headerFragment}"></header>
<!--nav 내용-->
<nav th:replace="~{./layouts/navbar :: navbarFragment}"></nav>
<!-- 삽입될 내용 -->
<div class="flex w-full h-auto">
    <div class="h-full card bg-base-300 rounded-box flex w-[200px] pt-5 pb-5">
        <ul class="list-disc list-inside ml-3 mt-3">
            <li><a class="link link-hover" th:href="@{|/manager|}">통계</a></li>
            <li><a class="link link-hover" th:href="@{|/manager/user|}">유저</a></li>
            <li><a class="link link-hover" th:href="@{|/manager/tool|}">도구</a></li>
            <li><a class="link link-hover" th:href="@{|/manager/unit|}">단위</a></li>
            <li><a class="link link-hover" th:href="@{|/manager/nutrient|}">영양분</a></li>
            <li><a class="link link-hover" th:href="@{|/manager/category|}">카테고리</a></li>
            <li><a class="link link-hover" th:href="@{|/manager/tag|}">태그</a></li>
            <li><a class="link link-hover" th:href="@{|/manager/ingredient|}">재료</a></li>
        </ul>
        <form th:action="@{|/manager/training|}" id="training_form" method="post" class="flex justify-center mt-5">
            <input class="link link-hover" id="training" type="button" value="데이터 학습하기"/>
        </form>
        <form th:action="@{|/manager/initialData|}" id="initialData_form" method="post" class="flex justify-center mt-5">
            <input class="link link-hover" id="initialData" type="button" value="정규 데이터 등록하기"/>
        </form>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="grid h-full flex-grow card bg-base-300 rounded-box place-items-center pt-20 pb-20">
        <th:block layout:fragment="content"></th:block>
    </div>
</div>
<!-- Footer 내용 -->
<footer th:replace="~{./layouts/footer :: footerFragment}"></footer>
<!-- 자바스크립트 -->
<th:block layout:fragment="script"></th:block>
<script type='text/javascript'>
    const training = document.getElementById('training');
    training.addEventListener('click', ()=>{
        if(confirm('정말 학습을 시작하시겠습니까?'))
            document.getElementById('training_form').submit();
    });
    const initialData = document.getElementById('initialData');
    initialData.addEventListener('click', ()=>{
        if(confirm('정말 학습을 시작하시겠습니까?'))
            document.getElementById('initialData_form').submit();
    });
</script>
</body>
</html>

