<html layout:decorate="~{./layouts/managerLayout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="flex flex-col w-full border-opacity-50 place-items-center"
     th:object="${tagEditForm}">
    <div th:replace="~{./layouts/form_errors :: formErrorsFragment}"></div>
    <form th:action="@{|${destination}|}" method="post">
        <div class="w-[1000px] border-2 p-4 border-black">
            <input type="text" th:field="*{name}" id="name" name="name" class="w-full p-2" placeholder="이름">
            <div class="divider"></div>
            <select th:field="*{category}" class="mb-2 w-full">
                <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.name}"/>
            </select>
            <input type="submit" value="저장" class="btn btn-outline btn-info mt-4">
            <input type="button" value="취소" class="btn btn-outline btn-info" onclick="location.href='/manager/tag'">
            <input type="button" value="삭제" id="delete" class="btn btn-outline btn-info"
                   onclick="if(confirm('정말로 삭제하시겠습니까?')) location.href = this.dataset.uri;"
                   th:if="${!#strings.contains(destination, 'create')}"
                   th:data-uri="@{|/manager/tag/delete/${id}|}">
        </div>
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
    function select(index){
        const list = document.getElementById('list'+index);
        list.addEventListener('click', function() {
            document.getElementById('category').value =this.dataset.name;
            document.getElementById('name').focus();
        });
    }
</script>
</html>