<html layout:decorate="~{/layouts/layoutWithNav}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<div layout:fragment="content"
     class="flex flex-col w-full border-opacity-50 place-items-center bg-base-300 p-5">
    <div class="w-[1000px] border-2 p-4 border-black">
        <div id="제목" class="flex items-center">
            <label class="w-[40px]">제목</label>
            <input type="text" th:value="${recipe.subject}"
                   class="w-full p-2" readonly placeholder="제목"/>
        </div>
        <div class="divider"></div>
        <div id="재료" class="flex flex-col">
            <label>재료</label>
            <div class="border-black p-2 border-2 flex flex-wrap justify-start"
                 th:if="${#lists.size(recipe.ingredientInfos)>0}">
                <div th:each="ingredientInfo : ${recipe.ingredientInfos}" class="mr-3">
                    <input type="text" readonly class="w-[150px] overflow-hidden"
                           th:value="${ingredientInfo.ingredient.name}"/>
                    <input type="text" readonly class="w-[60px] overflow-hidden" th:value="${ingredientInfo.amount}"/>
                    <input type="text" readonly class="w-[75px] overflow-hidden"
                           th:value="${ingredientInfo.ingredient.unit.name}"/>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div id="도구" class="flex flex-col">
            <label>도구</label>
            <div class="border-black p-2 border-2 flex flex-wrap justify-start" th:if="${#lists.size(recipe.tools)>0}">
                <div th:each="tool : ${recipe.tools}" class="mr-[80px]">
                    <input type="text" readonly class="w-[150px] overflow-hidden" th:value="${tool.tool.name}"/>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div id="정보" class="flex flex-col">
            <label th:text="${'총열량 : '+totalCal+' cal'}"></label>
            <label>영양분 정보</label>
            <div class="border-black p-2 border-2 flex flex-wrap justify-start" th:if="${#lists.size(nutrients)>0}">
                <div th:each="nutrient : ${nutrients}" class="mr-3">
                    <input type="text" readonly class="w-[150px] overflow-hidden"
                           th:value="${nutrient.key.name}"/>
                    <input type="text" readonly class="w-[145px] overflow-hidden"
                           th:value="${nutrient.value}"/>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div id="내용" class="flex flex-col">
            <div th:each="bodyImage : ${recipe.bodyImages}" class="flex mb-4">
                <textarea class="body resize-none w-3/4 body" readonly th:text="${bodyImage.body}"></textarea>
                <img th:src="@{${ !#strings.isEmpty(bodyImage.imgURL) ? bodyImage.imgURL : '/common/white.png'}}"
                     class="w-1/4 h-[150px] ml-2 img"/>
            </div>
        </div>
        <div class="divider"></div>
        <div id="태그" class="flex bg-white">
            <label th:each="tag, loop  : ${recipe.tags}" th:text="${(loop.index>0?', ' :'' )+ tag.tag.name}"/>
        </div>
        <input sec:authorize="isAuthenticated()" th:disabled="${user.id != recipe.author.id}" type="button" value="수정하기"
               class="btn btn-outline btn-info mt-5"
               th:onclick="@{${'location.href=''/recipe/edit/'+id+''''}}">
        <input type="button" value="목록" class="btn btn-outline btn-info mt-5"
               onclick="location.href='/recipe/list'">
    </div>
</div>
</html>