<html layout:decorate="~{./layouts/layoutWithNav}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content"
     class="flex flex-col w-full border-opacity-50 place-items-center bg-base-300 p-5">
    <div class="w-[1000px] border-2 p-4 border-black">
        <div id="제목" class="flex items-center">
            <label class="w-[40px]">제목</label>
            <input type="text" th:value="${recipe.subject}"
                   class="w-full p-2" readonly placeholder="제목"/>
        </div>
        <div class="divider"></div>
        <div id="재료" class="flex flex-col">
            <label>재료</label>
            <div class="border-black p-2 border-2 flex flex-wrap justify-start"
                 th:if="${#lists.size(recipe.ingredientInfos)>0}">
                <div th:each="ingredientInfo : ${recipe.ingredientInfos}" class="mr-3">
                    <input type="text" readonly class="w-[150px] overflow-hidden"
                           th:value="${ingredientInfo.ingredient.name}"/>
                    <input type="text" readonly class="w-[60px] overflow-hidden" th:value="${ingredientInfo.amount}"/>
                    <input type="text" readonly class="w-[75px] overflow-hidden"
                           th:value="${ingredientInfo.ingredient.unit!=null?ingredientInfo.ingredient.unit.name:''}"/>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div id="도구" class="flex flex-col">
            <label>도구</label>
            <div class="border-black p-2 border-2 flex flex-wrap justify-start" th:if="${#lists.size(recipe.tools)>0}">
                <div th:each="tool : ${recipe.tools}" class="mr-[80px]">
                    <input type="text" readonly class="w-[150px] overflow-hidden" th:value="${tool.tool.name}"/>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div id="정보" class="flex flex-col">
            <label th:text="${'총열량 : '+totalCal+' cal'}"></label>
            <label>영양분 정보</label>
            <div class="border-black p-2 border-2 flex flex-wrap justify-start" th:if="${#lists.size(nutrients)>0}">
                <div th:each="nutrient : ${nutrients}" class="mr-3">
                    <input type="text" readonly class="w-[150px] overflow-hidden"
                           th:value="${nutrient.key.name}"/>
                    <input type="text" readonly class="w-[145px] overflow-hidden"
                           th:value="${nutrient.value}"/>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div id="내용" class="flex flex-col">
            <div th:each="bodyImage : ${recipe.bodyImages}" class="flex mb-4">
                <textarea class="body resize-none w-3/4 body" readonly th:text="${bodyImage.body}"></textarea>
                <img th:src="@{${ !#strings.isEmpty(bodyImage.imgURL) ? bodyImage.imgURL : '/common/white.png'}}"
                     class="w-1/4 h-[150px] ml-2 img"/>
            </div>
        </div>
        <div class="divider"></div>
        <div id="태그" class="flex bg-white">
            <label th:each="tag, loop  : ${recipe.tags}" th:text="${(loop.index>0?', ' :'' )+ tag.tag.name}"/>
        </div>
        <div class="divider"></div>
        <div id="평점">
            <div class="rating rating-sm rating-half">
                <input type="radio" name="rating-10" disabled class="rating-hidden" th:checked="${rating=='00'}"/>
                <input type="radio" name="rating-10" disabled class="bg-red-500 mask mask-star-2 mask-half-1"
                       th:checked="${rating=='05'}"/>
                <input type="radio" name="rating-10" disabled class="bg-red-500 mask mask-star-2 mask-half-2"
                       th:checked="${rating=='10'}"/>
                <input type="radio" name="rating-10" disabled class="bg-red-500 mask mask-star-2 mask-half-1"
                       th:checked="${rating=='15'}"/>
                <input type="radio" name="rating-10" disabled class="bg-red-500 mask mask-star-2 mask-half-2"
                       th:checked="${rating=='20'}"/>
                <input type="radio" name="rating-10" disabled class="bg-red-500 mask mask-star-2 mask-half-1"
                       th:checked="${rating=='25'}"/>
                <input type="radio" name="rating-10" disabled class="bg-red-500 mask mask-star-2 mask-half-2"
                       th:checked="${rating=='30'}"/>
                <input type="radio" name="rating-10" disabled class="bg-red-500 mask mask-star-2 mask-half-1"
                       th:checked="${rating=='35'}"/>
                <input type="radio" name="rating-10" disabled class="bg-red-500 mask mask-star-2 mask-half-2"
                       th:checked="${rating=='40'}"/>
                <input type="radio" name="rating-10" disabled class="bg-red-500 mask mask-star-2 mask-half-1"
                       th:checked="${rating=='45'}"/>
                <input type="radio" name="rating-10" disabled class="bg-red-500 mask mask-star-2 mask-half-2"
                       th:checked="${rating=='50'}"/>
            </div>
            <label th:text="${eval}"/>
            <button onclick="my_modal_3.showModal()" class="btn btn-outline btn-warning mb-5" sec:authorize="isAuthenticated()" >별점 주기</button>
            <dialog id="my_modal_3" class="modal">
                <div class="modal-box flex justify-center flex-col items-center text-center">
                    <label class="text-3xl m-2 text-red-500">평점</label>
                    <form method="post" th:action="@{|/recipe/detail/${recipe.id}|}">
                        <div class="rating rating-lg rating-half w-full flex justify-center ">
<!--                            <input type="radio" name="rating-10" value=0 class="rating-hidden" th:checked="${pre>0 && preRating=='00'}" th:disabled="${pre>0}"/>-->
<!--                            <input type="radio" name="rating-10" value=0.5 class="bg-red-500 mask mask-star-2 mask-half-1" th:checked="${pre>0 && preRating=='05'}" th:disabled="${pre>0}"/>-->
<!--                            <input type="radio" name="rating-10" value=1.0 class="bg-red-500 mask mask-star-2 mask-half-2" th:checked="${pre>0 && preRating=='10'}" th:disabled="${pre>0}"/>-->
<!--                            <input type="radio" name="rating-10" value=1.5 class="bg-red-500 mask mask-star-2 mask-half-1" th:checked="${pre>0 && preRating=='15'}" th:disabled="${pre>0}"/>-->
<!--                            <input type="radio" name="rating-10" value=2.0 class="bg-red-500 mask mask-star-2 mask-half-2" th:checked="${pre>0 && preRating=='20'}" th:disabled="${pre>0}"/>-->
<!--                            <input type="radio" name="rating-10" value=2.5 class="bg-red-500 mask mask-star-2 mask-half-1" th:checked="${pre>0 && preRating=='25'}" th:disabled="${pre>0}"/>-->
<!--                            <input type="radio" name="rating-10" value=3.0 class="bg-red-500 mask mask-star-2 mask-half-2" th:checked="${pre>0 && preRating=='30'}" th:disabled="${pre>0}"/>-->
<!--                            <input type="radio" name="rating-10" value=3.5 class="bg-red-500 mask mask-star-2 mask-half-1" th:checked="${pre>0 && preRating=='35'}" th:disabled="${pre>0}"/>-->
<!--                            <input type="radio" name="rating-10" value=4.0 class="bg-red-500 mask mask-star-2 mask-half-2" th:checked="${pre>0 && preRating=='40'}" th:disabled="${pre>0}"/>-->
<!--                            <input type="radio" name="rating-10" value=4.5 class="bg-red-500 mask mask-star-2 mask-half-1" th:checked="${pre>0 && preRating=='45'}" th:disabled="${pre>0}"/>-->
<!--                            <input type="radio" name="rating-10" value=5.0 class="bg-red-500 mask mask-star-2 mask-half-2" th:checked="${pre<0 || (pre>0&&preRating=='50')}" th:disabled="${pre>0}"/>-->
                            <input type="radio" name="rating-10" value=0 class="rating-hidden" th:checked="${pre>0 && preRating=='00'}" />
                            <input type="radio" name="rating-10" value=0.5 class="bg-red-500 mask mask-star-2 mask-half-1" th:checked="${pre>0 && preRating=='05'}"/>
                            <input type="radio" name="rating-10" value=1.0 class="bg-red-500 mask mask-star-2 mask-half-2" th:checked="${pre>0 && preRating=='10'}"/>
                            <input type="radio" name="rating-10" value=1.5 class="bg-red-500 mask mask-star-2 mask-half-1" th:checked="${pre>0 && preRating=='15'}"/>
                            <input type="radio" name="rating-10" value=2.0 class="bg-red-500 mask mask-star-2 mask-half-2" th:checked="${pre>0 && preRating=='20'}"/>
                            <input type="radio" name="rating-10" value=2.5 class="bg-red-500 mask mask-star-2 mask-half-1" th:checked="${pre>0 && preRating=='25'}"/>
                            <input type="radio" name="rating-10" value=3.0 class="bg-red-500 mask mask-star-2 mask-half-2" th:checked="${pre>0 && preRating=='30'}"/>
                            <input type="radio" name="rating-10" value=3.5 class="bg-red-500 mask mask-star-2 mask-half-1" th:checked="${pre>0 && preRating=='35'}"/>
                            <input type="radio" name="rating-10" value=4.0 class="bg-red-500 mask mask-star-2 mask-half-2" th:checked="${pre>0 && preRating=='40'}"/>
                            <input type="radio" name="rating-10" value=4.5 class="bg-red-500 mask mask-star-2 mask-half-1" th:checked="${pre>0 && preRating=='45'}"/>
                            <input type="radio" name="rating-10" value=5.0 class="bg-red-500 mask mask-star-2 mask-half-2" th:checked="${pre<0 || (pre>0&&preRating=='50')}"/>
                            <input type="hidden" name="rating-10" th:value="${pre}" th:if="${pre>0}"/>
                        </div>
                        <label class="w-full block mt-3" th:if="${pre>0}">이미 평점을 투표했습니다.</label>
                        <input type="submit" class="btn btn-lg btn-circle btn-ghost" value="확인"/>
                    </form>
                    <form method="dialog">
                        <button class="btn btn-lg btn-circle btn-ghost">취소</button>
                    </form>
                </div>
            </dialog>
        </div>

        <input sec:authorize="isAuthenticated()" th:disabled="${user.id != recipe.author.id}" type="button" value="수정하기"
               class="btn btn-outline btn-info mt-5"
               th:onclick="@{${'location.href=''/recipe/edit/'+id+''''}}">
        <input type="button" value="목록" class="btn btn-outline btn-info mt-5"
               onclick="location.href='/recipe/list'">

    </div>
</div>
</html>