<html layout:decorate="~{./layouts/layoutWithNav}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" th:object="${recipeEditForm}"
     class="flex flex-col w-full border-opacity-50 place-items-center bg-base-300 p-5">
    <div th:replace="~{/layouts/form_errors :: formErrorsFragment}"></div>
    <form th:action="@{|${destination}|}" method="post" enctype="multipart/form-data" id="form">
        <div class="w-[1000px] border-2 p-4 border-black">
            <input type="text" th:field="*{subject}" th:value="*{subject}" id="subject" name="subject"
                   class="w-full p-2 mb-3" placeholder="제목"/>
            <div class="divider"></div>
            <div class="flex place-items-center">
                <div class="text-center">
                    <label>대표 이미지</label><br/>
                    <input type="button" id="remove_img" value="이미지 삭제" class="btn btn-outline btn-info mt-2 mb-2"
                           onclick="#">
                </div>
                <div class="divider divider-horizontal"></div>
                <img id="img" th:src="@{${  !#strings.isEmpty(imgUrl) ?imgUrl:'/common/white.png'}}" class="w-[150px] h-[150px] flex"/>
                <input type="hidden" id="baseImg" name="baseImg" th:value="${imgUrl}">
                <input type="file" id="tempImg" name="tempImg" class="hidden"/>
            </div>
            <div class="divider"></div>
            <div>
                <input type="button" id="add_ingredient" value="재료 추가" class="btn btn-outline btn-info mt-2 mb-2"
                       onclick="#">
                <div id="ingredients">
                    <div th:each="ingredientInfo,loop : *{ingredientInfos}">
                        <select class="mb-2 w-1/2 ingredient" th:name="'ingredientInfos['+${loop.index}+'].ingredient'"
                                th:id="'ingredientInfos['+${loop.index}+'].ingredient'">
                            <option th:each="ingredient : ${ingredients}" th:text="${ingredient.name}"
                                    th:value="${ingredient.name}"
                                    th:selected="${ingredientInfo.ingredient == ingredient.name}"/>
                        </select><input class="w-1/4 ingredient_amount" type="number" min="0"
                                        th:name="'ingredientInfos['+${loop.index}+'].amount'"
                                        th:value="${ingredientInfo.amount}"/><input
                            class="btn btn-outline btn-info ml-2" type="button"
                            th:name="'ingredientInfos['+${loop.index}+']'" value="제거" onclick="remove(this)"/>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <select class="mb-2 w-full" id="tools" name="tools" th:field="*{tools}" multiple>
                <option th:each="tool : ${tools}" th:text="${tool.name}" th:value="${tool.name}"
                        th:selected="${recipeEditForm.tools!=null? #arrays.contains(recipeEditForm.tools,tool.name):false}"/>
            </select>
            <div class="divider"></div>
            <div>
                <div th:each="tag : ${tags}" class="inline-block">
                    <input type="checkbox" th:field="*{tags}" th:id="tags" th:name="tags" th:value="${tag.name}"
                           class="m-2 tags"/>
                    <label th:text="${tag.name}"/>
                </div>
            </div>
            <div class="divider"></div>
            <div>
                <input type="button" id="add_bodyImage" value="내용 추가" class="btn btn-outline btn-info mt-2 mb-2"
                       onclick="#">
                <div id="bodyImages">
                    <div th:each="bodyImage,loop : *{bodyImages}" class="flex mb-4">
                        <textarea th:name="'bodyImages['+${loop.index}+'].body'" class="body resize-none w-3/4 body"
                                  rows="6"
                                  th:text="${bodyImage.body}"></textarea>
                        <img th:src="@{${ !#strings.isEmpty(bodyImage.imgURL) ? bodyImage.imgURL : '/common/white.png'}}"
                             th:name="'bodyImages['+${loop.index}+'].img'"
                             class="w-1/4 h-[150px] ml-2 img"/>
                        <input type="hidden" name="bodyImage" th:name="'bodyImages['+${loop.index}+'].imgURL'"
                               class="imgURL"
                               th:value="${bodyImage.imgURL}"/>
                        <input class="btn btn-outline btn-info ml-2" type="button"
                               th:name="'bodyImages['+${loop.index}+']'" value="제거" onclick="remove(this)"/>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <input type="submit" value="저장" class="btn btn-outline btn-info mt-5">
            <input type="button" value="취소" class="btn btn-outline btn-info mt-5"
                   onclick="location.href='/recipe/list'">
            <input type="button" value="삭제" id="delete" class="btn btn-outline btn-info mt-5"
                   onclick="if(confirm('정말로 삭제하시겠습니까?')) location.href = this.dataset.uri;"
                   th:if="${!#strings.contains(destination, 'create')}"
                   th:data-uri="@{|/recipe/delete/${id}|}">
        </div>
        <input type="hidden" id="destination" name="destination" th:value="${destination}"/>

        <select class="mb-2 w-1/2 hidden" id="select_ingredient">
            <option th:each="ingredient : ${ingredients}" th:text="${ingredient.name}"
                    th:value="${ingredient.name}"/>
        </select>
        <input type="hidden" id="temp" name="temp" />
    </form>
    <div>
        <input class="hidden w-1/4" type="number" id="amount_ingredient" min="0" value="0"/>
        <input class="hidden btn btn-outline btn-info ml-2" type="button" id="remove" value="제거"
               onclick="remove(this)"/>
        <input type="hidden" id="index_ingredient"
               th:value="${recipeEditForm.ingredientInfos!=null ? #lists.size(recipeEditForm.ingredientInfos) : 0}">
        <textarea id="body" name="body" class="hidden resize-none w-3/4 body" rows="6"></textarea>
        <img th:src="@{${bodyURL !=null ? bodyURL : '/common/white.png'}}" id="body_image"
             class="hidden w-1/4 h-[150px] ml-2 img"/>
        <input type="hidden" id="bodyImage" name="bodyImage"/>
        <input class="hidden btn btn-outline btn-info ml-2" type="button"
               id="body_remove"
               name="body_remove" value="제거" onclick="remove(this)"/>
        <input type="hidden" id="index_bodyImages"
               th:value="${recipeEditForm.bodyImages!=null ? #lists.size(recipeEditForm.bodyImages) : 0}">

    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    const add_bodyImage = document.getElementById("add_bodyImage");
    add_bodyImage.addEventListener("click", () => {
       const index =document.getElementById("index_bodyImages").value;
       const div = document.createElement("div");
       div.classList.add('flex');
       div.classList.add('mb-4');
       div.setAttribute('name','bodyImages['+index+'].div')
       const textarea =document.getElementById("body");
       const clone1 = textarea.cloneNode(true);
       clone1.classList.remove('hidden');
       clone1.classList.add('body');
       clone1.removeAttribute('id');
       clone1.setAttribute('name','bodyImages['+index+'].body')

       const body_image =document.getElementById("body_image");
       const clone2 = body_image.cloneNode(true);
       clone2.classList.remove('hidden');
       clone2.removeAttribute('id');
       clone2.setAttribute('name','bodyImages['+index+'].img')
       clone2.addEventListener('click',function(){
            const name = this.getAttribute('name');
            const temp = document.getElementById('temp');
            temp.value = name.split('.')[0];
            document.getElementById('tempImg').click();
       });

       const bodyImage =document.getElementById("bodyImage");
       const clone3 = bodyImage.cloneNode(true);
       clone3.classList.remove('hidden');
       clone3.classList.add('imgURL');
       clone3.removeAttribute('id');
       clone3.setAttribute('name','bodyImages['+index+'].imgURL')

       const remove =document.getElementById("body_remove");
       const clone4 = remove.cloneNode(true);
       clone4.classList.remove('hidden');
       clone4.removeAttribute('id');
       clone4.setAttribute('name','bodyImages['+index+']')

       const container =document.getElementById("bodyImages");
       container.appendChild(div);
       div.appendChild(clone1);
       div.appendChild(clone2);
       div.appendChild(clone3);
       div.appendChild(clone4);
       document.getElementById("index_bodyImages").value = Number(index)+1;
   });

   const remove_img = document.getElementById("remove_img");
   remove_img.addEventListener('click', function(){
        const tempImg= document.getElementById('tempImg');
        tempImg.value= '';
        const form = document.getElementById('form');
        form.action = '/recipe/baseImg';
        form.submit();
   });

    const images = document.getElementsByClassName('img');
    Array.from(images).forEach(function(img){
        img.addEventListener('click',function(){
            const name = img.getAttribute('name');
            const temp = document.getElementById('temp');
            temp.value = name.split('.')[0];
            document.getElementById('tempImg').click();
        });
    });
   const icon = document.getElementById("img");
   icon.addEventListener('click', function() {
       const temp = document.getElementById('temp');
       temp.value = 'baseImg';
       document.getElementById('tempImg').click();
   });

   const tempImg = document.getElementById('tempImg');
   tempImg.addEventListener('change',function(){
        const form = document.getElementById('form');
        const where = document.getElementById('temp').value;
        if(where =='baseImg')
            form.action = '/recipe/baseImg';
        else
            form.action = '/recipe/bodyImg';
        form.submit();
   });

   const add_ingredient = document.getElementById("add_ingredient");
   add_ingredient.addEventListener("click", () => {
       const index =document.getElementById("index_ingredient").value;
       const select =document.getElementById("select_ingredient");
       const clone1 = select.cloneNode(true);
       clone1.classList.remove('hidden');
       clone1.classList.add('ingredient');
       clone1.removeAttribute('id');
       clone1.setAttribute('name','ingredientInfos['+index+'].ingredient')

       const amount =document.getElementById("amount_ingredient");
       const clone2 = amount.cloneNode(true);
       clone2.classList.remove('hidden');
       clone2.classList.add('ingredient_amount');
       clone2.removeAttribute('id');
       clone2.setAttribute('name','ingredientInfos['+index+'].amount')

       const remove =document.getElementById("remove");
       const clone3 = remove.cloneNode(true);
       clone3.classList.remove('hidden');
       clone3.removeAttribute('id');
       clone3.setAttribute('name','ingredientInfos['+index+']')

       const container =document.getElementById("ingredients");
       container.appendChild(clone1);
       container.appendChild(clone2);
       container.appendChild(clone3);
       document.getElementById("index_ingredient").value = Number(index)+1;
   });
   function remove(element){
       const name = element.getAttribute('name');
       const ingredients =document.getElementsByName(name+'.ingredient');
       Array.from(ingredients).forEach(function(ingredient) {
           ingredient.remove();
       });
       const amounts =document.getElementsByName(name+'.amount');
       Array.from(amounts).forEach(function(amount) {
           amount.remove();
       });
       const bodies =document.getElementsByName(name+'.body');
       Array.from(bodies).forEach(function(body) {
           body.remove();
       });
       const img =document.getElementsByName(name+'.img');
       Array.from(img).forEach(function(_img) {
           _img.remove();
       });
       const imgURLs =document.getElementsByName(name+'.imgURL');
       Array.from(imgURLs).forEach(function(imgURL) {
           imgURL.remove();
       });
       const divs =document.getElementsByName(name+'.div');
       Array.from(divs).forEach(function(div) {
           div.remove();
       });
       element.remove();
   }
</script>
</html>