<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 기본 CSS -->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
    <title>웹페이지 만들어보기!</title>
</head>
<body>
<!-- 추가 Header 내용 -->
<!--<nav th:replace="~{navbar :: navbarFragment}"></nav>-->
<!-- 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 삽입될 내용 End -->
<!-- 추가 Footer 내용 -->

<!--<script th:src="@{/bootstrap.min.js}"></script>-->
<!-- 자바스크립트 Start -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 End -->
</body>
</html>