<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 기본 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <title>음식 레시피</title>
</head>
<body>
<div class="navbar bg-info text-primary-content justify-center">
    <a th:href="@{/}"><img src="/icon.png" class="w-[150px] cursor-pointer"></a>
</div>
<th:block layout:fragment="content"></th:block>
<!-- Footer 내용 -->
<footer th:replace="~{footer :: footerFragment}"></footer>

<!--테일윈드 스크립트-->
<script src="https://cdn.tailwindcss.com"></script>
<!-- 자바스크립트 -->
<th:block layout:fragment="script"></th:block>

</body>
</html>