<html layout:decorate="~{/layouts/layoutWithNav}" xmlns:layout="http://www.w3.org/1999/xhtml"
>
<div layout:fragment="content">
    <div class="flex flex-col w-full border-opacity-50">
        <div class="grid h-full pt-5 pb-5 card bg-base-300 rounded-box place-items-center">
            <div class="기본_추천 flex flex-col w-1/2">
                <label class="ml-10">추천 목록 TOP10</label>
                <ul class="flex flex-row flex-wrap w-3/4 justify-center self-center">
                    <li th:each="predict : ${top10}">
                        <a th:href="@{|/recipe/detail/${predict.recipe.id}|}" class="flex flex-col m-4 text-center">
                            <img th:src="@{${!#strings.isEmpty(predict.recipe.baseImg) ?predict.recipe.baseImg:'/common/white.png'}}"
                                 class="w-[100px] h-[100px]"/>
                            <label th:text="${predict.recipe.subject}" class="w-[100px] overflow-hidden"/>
                            <label th:text="${predict.user.nickname}" class="w-[100px] overflow-hidden"/>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="divider" sec:authorize="isAuthenticated()"></div>
            <div class="개인_추천 flex flex-col w-1/2" sec:authorize="isAuthenticated()">
                <label class="ml-10">취향 추천 목록 TOP5</label>
                <ul class="flex flex-row flex-wrap w-3/4 justify-center self-center">
                    <li th:each="predict : ${personal_top5}">
                        <a th:href="@{|/recipe/detail/${predict.recipe.id}|}" class="flex flex-col m-4 text-center">
                            <img th:src="@{${!#strings.isEmpty(predict.recipe.baseImg) ?predict.recipe.baseImg:'/common/white.png'}}"
                                 class="w-[100px] h-[100px]"/>
                            <label th:text="${predict.recipe.subject}" class="w-[100px] overflow-hidden"/>
                            <label th:text="${predict.user.nickname}" class="w-[100px] overflow-hidden"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>