<html layout:decorate="~{/layouts/managerLayout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="flex flex-col w-full border-opacity-50 place-items-center"
     th:object="${ingredientEditForm}">
    <div th:replace="~{/layouts/form_errors :: formErrorsFragment}"></div>
    <form th:action="@{|${destination}|}" method="post">
        <div class="w-[1000px] border-2 p-4 border-black">
            <input type="text" th:field="*{name}" id="name" name="name" class="w-full p-2" placeholder="이름">
            <div class="divider"></div>
            <input type="text" th:field="*{info}" id="info" name="info" class="w-full p-2" placeholder="정보">
            <div class="divider"></div>
            <input type="number" th:field="*{kcal}" id="kcal" name="kcal" class="w-full p-2" placeholder="칼로리" min=0 step=0.01/>
            <div class="divider"></div>
            <select th:field="*{unit}" class="mb-2 w-full">
                <option th:each="unit : ${units}" th:text="${unit.name}" th:value="${unit.name}"/>
            </select>
            <div class="divider"></div>
            <div>
                <input type="button" id="add" value="영양분 추가" class="btn btn-outline btn-info mt-2 mb-2"
                       onclick="#">
                <div id="container">
                    <div th:each="nutrientInfo,loop : *{nutrientInfos}">
                        <select class="mb-2 w-1/2" th:name="'nutrientInfos['+${loop.index}+'].nutrient'" >
                            <option th:each="nutrient : ${nutrients}" th:text="${nutrient.name}"
                                    th:value="${nutrient.name}" th:selected="${nutrientInfo.nutrient == nutrient.name}"/>
                        </select><input class="w-1/4" type="number" th:name="'nutrientInfos['+${loop.index}+'].amount'" step=0.01 min=0
                                        th:value="${nutrientInfo.amount}"/><input class="btn btn-outline btn-info ml-2" type="button" th:name="'nutrientInfos['+${loop.index}+']'" value="제거" onclick="remove(this)" />
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <input type="submit" value="저장" class="btn btn-outline btn-info mt-4">
            <input type="button" value="취소" class="btn btn-outline btn-info"
                   onclick="location.href='/manager/ingredient'">
            <input type="button" value="삭제" id="delete" class="btn btn-outline btn-info"
                   onclick="if(confirm('정말로 삭제하시겠습니까?')) location.href = this.dataset.uri;"
                   th:if="${!#strings.contains(destination, 'create')}"
                   th:data-uri="@{|/manager/ingredient/delete/${id}|}">
            <select class="mb-2 w-1/2 hidden" id="select">
                <option th:each="nutrient : ${nutrients}" th:text="${nutrient.name}"
                        th:value="${nutrient.name}"/>
            </select>
            <input class="hidden w-1/4" type="number" id="amount" min="0" value="0"/>
            <input class="hidden btn btn-outline btn-info ml-2" type="button" id="remove" value="제거" onclick="remove(this)" />
            <input type="hidden" id="index" th:value="${ingredientEditForm.nutrientInfos!=null ? #lists.size(ingredientEditForm.nutrientInfos) : 0}">
        </div>
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
    const button = document.getElementById("add");
    button.addEventListener("click", () => {
        const index =document.getElementById("index").value;
        const select =document.getElementById("select");
        const clone1 = select.cloneNode(true);
        clone1.classList.remove('hidden');
        clone1.removeAttribute('id');
        clone1.setAttribute('name','nutrientInfos['+index+'].nutrient')

        const amount =document.getElementById("amount");
        const clone2 = amount.cloneNode(true);
        clone2.classList.remove('hidden');
        clone2.removeAttribute('id');
        clone2.setAttribute('name','nutrientInfos['+index+'].amount')

        const remove =document.getElementById("remove");
        const clone3 = remove.cloneNode(true);
        clone3.classList.remove('hidden');
        clone3.removeAttribute('id');
        clone3.setAttribute('name','nutrientInfos['+index+']')

        const container =document.getElementById("container");
        container.appendChild(clone1);
        container.appendChild(clone2);
        container.appendChild(clone3);
        document.getElementById("index").value = Number(index)+1;
    });
    function remove(element){
        const name = element.getAttribute('name');
        const nutrients =document.getElementsByName(name+'.nutrient');
        Array.from(nutrients).forEach(function(nutrient) {
            nutrient.remove();
        });
        const amounts =document.getElementsByName(name+'.amount');
        Array.from(amounts).forEach(function(amount) {
            amount.remove();
        });
        element.remove();
    }
</script>
</html>